#percentageCalculator {
   max-width: 400px;
   margin: 0 auto;
   font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 18px;
}

#percentageCalculator #intro {
   color: #666
}

#percentageCalculator .background {
   background-color: #fafafa;
   padding: 20px;
   border: solid 1px #cbcbcb;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

#percentageCalculator input {
   padding: 10px;
   background-color: white;
   border: solid 1px #cbcbcb;
   width: 40px;
}

#percentageCalculator .calculate,
.reset {
   background-color: #fc0;
   color: #333;
   font-weight: 700;
   border-radius: 8px;
   border: 1px solid #cbcbcb;
   padding: 10px 20px;
   transition: 0.1s;
   font-size: 18px;
}

#percentageCalculator .calculate:hover,
.reset:hover {
   background-color: #666;
   color: #fff;
}

#percentageCalculator #bugLink {
   font-size: medium;
   padding: 10px;
   text-align: left;
}

#percentageCalculator #inputFields {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

#percentageCalculator .labelInputCombo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

#percentageCalculator .buttonRow {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   width: 100%;
}

#percentageCalculator .voidFill {
   width: 77.46px;
}

/* do not bring to wordpress below this line */
#percentageCalculator a {
   text-decoration: underline;
   color: #000;
   transition: color .1s ease-in-out, background-color .1s ease-in-out;
   text-align: center;
   font-size: 90%;
}

#percentageCalculator a:hover {
   text-decoration-color: #fc0;
   -webkit-text-fill-color: #000;
   -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: #000;
   transition-timing-function: ease;
   transition-duration: 3s;
}