#percentPartCalculator {
   max-width: 440px;
   margin: 0 auto;
   font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 18px;
}

#percentPartCalculator .background {
   background-color: #fafafa;
   padding: 20px;
   border: solid 1px #cbcbcb;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
#percentPartCalculator input {
   padding: 10px;
   background-color: white;
   border: solid 1px #cbcbcb;
   width: 60px;
}
#percentPartCalculator .calculate {
   background-color: #fc0;
   color: #333;
   font-weight: 700;
   border-radius: 8px;
   border: 1px solid #cbcbcb;
   padding: 10px 20px;
   display: inline-block;
   transition: 0.1s;
   text-decoration: none;
}

#percentPartCalculator .calculate:hover {
   background-color: #666;
   color: #fff;
}

#percentPartCalculator #bugLink {
   font-size: medium;
   padding: 10px;
   text-align: left;
}

#percentPartCalculator .calculatorGuts {
   display: flex;
   align-items: center;
   gap: 4px;
}

#percentWholeCalculator {
   max-width: 440px;
   margin: 0 auto;
   font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 18px;
}

#percentWholeCalculator .background {
   background-color: #fafafa;
   padding: 20px;
   border: solid 1px #cbcbcb;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
#percentWholeCalculator input {
   padding: 10px;
   background-color: white;
   border: solid 1px #cbcbcb;
   width: 60px;
}
#percentWholeCalculator .calculate {
   background-color: #fc0;
   color: #333;
   font-weight: 700;
   border-radius: 8px;
   border: 1px solid #cbcbcb;
   padding: 10px 20px;
   display: inline-block;
   transition: 0.1s;
   text-decoration: none;
}

#percentWholeCalculator .calculate:hover {
   background-color: #666;
   color: #fff;
}

#percentWholeCalculator #bugLink {
   font-size: medium;
   padding: 10px;
   text-align: left;
}

#percentWholeCalculator .calculatorGuts {
   display: flex;
   align-items: center;
   gap: 4px;
}

#percentageCalculator {
   max-width: 440px;
   margin: 0 auto;
   font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 18px;
}

#percentageCalculator .background {
   background-color: #fafafa;
   padding: 20px;
   border: solid 1px #cbcbcb;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
#percentageCalculator input {
   padding: 10px;
   background-color: white;
   border: solid 1px #cbcbcb;
   width: 60px;
}
#percentageCalculator .calculate {
   background-color: #fc0;
   color: #333;
   font-weight: 700;
   border-radius: 8px;
   border: 1px solid #cbcbcb;
   padding: 10px 20px;
   display: inline-block;
   transition: 0.1s;
   text-decoration: none;
}

#percentageCalculator .calculate:hover {
   background-color: #666;
   color: #fff;
}

#percentageCalculator #bugLink {
   font-size: medium;
   padding: 10px;
   text-align: left;
}

#percentageCalculator .calculatorGuts {
   display: flex;
   align-items: center;
   gap: 4px;
}
/* do not bring to wordpress below this line */
#percentageCalculator a {
   text-decoration: underline;
   color: #000;
   transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
   text-align: center;
   font-size: 90%;
}

#percentageCalculator a:hover {
   text-decoration-color: #fc0;
   -webkit-text-fill-color: #000;
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: #000;
   transition-timing-function: ease;
   transition-duration: 3s;
}
#percentWholeCalculator a {
   text-decoration: underline;
   color: #000;
   transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
   text-align: center;
   font-size: 90%;
}

#percentWholeCalculator a:hover {
   text-decoration-color: #fc0;
   -webkit-text-fill-color: #000;
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: #000;
   transition-timing-function: ease;
   transition-duration: 3s;
}
#percentPartCalculator a {
   text-decoration: underline;
   color: #000;
   transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
   text-align: center;
   font-size: 90%;
}

#percentPartCalculator a:hover {
   text-decoration-color: #fc0;
   -webkit-text-fill-color: #000;
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: #000;
   transition-timing-function: ease;
   transition-duration: 3s;
}
